[Unit]
Description=Amazon Jobs Search

[Service]
Type=simple
ExecStart=/srv/python/scrape/venv/bin/python -m scrape.amazon_jobs
WorkingDirectory=/srv/python
Restart=no

[Install]
WantedBy=multi-user.target
